In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv(r"waitlist_kidney_brazil.csv")

In [ ]:
df.head()

In [ ]:
sns.countplot(x="Transplant_Y_N", hue="Blood_type", data=df)

In [ ]:
# Identify categorical columns
categorical_columns = df.select_dtypes(include=['object']).columns

# Calculate the number of rows and columns for subplots
num_plots = len(categorical_columns)
num_rows = (num_plots // 2) + (num_plots % 2)
num_cols = 2

fig, axes = plt.subplots(num_rows,num_cols, figsize = (20,35))

# Расстояние между графиками
plt.subplots_adjust(hspace=0.5)

categorical_columns
# Строим распределения (kdeplot) для каждого признака
for i, column in enumerate(categorical_columns):
    if column != "date":
        ax = axes[i // 2, i % 2]
        sns.countplot(data=df, x=column, ax=ax)
        
        ax.set_title(column, fontweight = 'bold', fontsize = 16)
        ax.set_xlabel("")
        ax.set_ylabel('Count', fontsize = 14)
        ax.tick_params( rotation=20)

plt.show()

In [ ]:
df["razon_removed"].unique()

# Pre Processing

In [1]:
from cleanProcess.DataCleaning import GetData
pathcsv = "waitlist_kidney_brazil.csv"
Data = GetData(path=pathcsv)

In [2]:
Data.raw_data.head(5)

,Id,date,age_at_list_registration,age_cat,time_on_Dialysis,race,sex,underline_disease,diabetes,Blood_type,...,Time_death,Transplant,Transplant_Y_N,X36MthsTx,Time_Tx,priorization,removed_list,razon_removed,time,event
0,4,6/29/2017,67,Maior.60,1.0,Branca,M,Outras,1,A,...,13,Não,Não,0,13.07,Não,Não,NaN,392,0
1,5,11/3/2008,58,18.a.60,4.0,Branca,M,Diabetes,0,A,...,69,Óbito Lista,Não,0,68.87,Não,Não,NaN,2066,2
2,6,7/13/2010,51,18.a.60,2.0,Branca,M,HAS,1,O,...,98,Não,Não,0,12.17,Não,Sim,Removido (suspenso > 365 dias),365,3
3,7,10/3/2011,52,18.a.60,17.0,Branca,M,Diabetes,0,O,...,83,Não,Não,0,12.17,Não,Sim,Removido (suspenso > 365 dias),365,3
4,8,7/5/2006,67,Maior.60,68.0,Parda,M,HAS,1,A,...,6,Óbito Lista,Não,0,6.47,Não,Não,NaN,194,2

In [3]:
Data.cleaned_data.head(5)

,age_at_list_registration,time_on_Dialysis,race,sex,underline_disease,diabetes,Blood_type,number_transfusion,gestation,number_gestation,...,HLA_DR2,DR_00,B_00,A_00,chagas,anti.HBc,anti.HCV,agHBs,time,event
0,67,1.0,White,M,Others,1,A,0,False,0.0,...,7,heterozygous,heterozygous,heterozygous,False,False,False,False,392,0
6,61,29.0,Black,M,HAS,1,A,1,False,0.0,...,12,heterozygous,heterozygous,heterozygous,False,False,False,False,1114,0
8,55,17.0,White,M,Diabetes,0,B,0,False,0.0,...,12,heterozygous,heterozygous,heterozygous,False,False,False,False,379,0
9,57,10.0,White,M,HAS,1,B,0,False,0.0,...,9,heterozygous,heterozygous,heterozygous,False,False,False,False,1291,0
11,39,12.0,White,M,GNC,1,A,0,False,0.0,...,14,heterozygous,heterozygous,heterozygous,False,False,False,False,4069,0

In [4]:
Xtrain, Ytrain, Xtest, Ytest = Data.get_splitted_scale_encoded_data()